@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background: linear-gradient(180deg, #9f6bff, #6119cc);

    color: #262626;

    letter-spacing: .3rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    border-radius: 5px;
    margin-top: 3rem;
}

.info-text {
    width: 250px;
    height: 250px;

    border: 3px solid #9f6bff;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem;
    margin-bottom: 1.5rem;

    color: #fff;

    margin: 1rem 1rem .5rem 1rem;

    font-size: 2rem;
}

.buttons {
    display: flex;
    gap: 0.5rem;

    margin: .5rem 1rem 1rem 1rem;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: .6rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    color: #262626;
    background-color: #e0e7ff;
    transition: background-color .2s ease-in;
    cursor: pointer; 
}

.buttons button:hover {
    background-color: #c4b5fd;
}